


<div>
	<h4>@EventDetails.Name</h4>
	<p>@EventDetails.Date</p>
	<p>@EventDetails.Location</p>
	<p>@EventDetails.Description</p>
</div>


@code {
	[Parameter]
	public EventDetailModel EventDetails { get; set; }
}


