
@inject SharedService SharedService;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="" @onclick='() => ChangeSelectedLink("Home")'>EventEase</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick='() => ChangeSelectedLink("Home")'>
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/eventregistration" @onclick='() => ChangeSelectedLink("Registration")'>
				<span class="oi oi-pencil" aria-hidden="true"></span> Registration
			</NavLink>
		</div>
		
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/tracker" @onclick='() => ChangeSelectedLink("Tracker")'>
				<span class="oi oi-pencil" aria-hidden="true"></span> Tracker
			</NavLink>
		</div>
		
	</nav>

</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	
	private void ChangeSelectedLink(string linkName)
	{
		SharedService.SelectedLink = linkName;
	}
}
	
